<%layout("/layouts/boilerplate") %>

    <body>
        <div class="card-container">
            <% for (let notes of allNotes) { %>
                <div class="card">
                    <div class="cardInfo">
                        <div class="pdfIcon">
                          <i class="fa-solid fa-file"></i>
                          <p>PDF</p>
                        </div>
                        <div class="div">
                          <div class="notes-title">
                            <%= notes.title %>
                          </div>
                          <div class="notesInfo">
                            Semester: <%= notes.semester %> <br>
                              Subject: <%= notes.subject %>
                          </div>
                        </div>
                      </div>
                    <div class="notes-btn">
                        <a href="<%= notes.pdfURL %>" target="_blank">Open</a><br>
                    </div>
                    <div class="user-btns">
                        <div class="del-btn">
                            <form method="POST" action="/notes/<%= notes._id %>?_method=DELETE">
                                <button>Delete</button>
                            </form>
                        </div>
                        <div class="edit-btn">
                            <form method="POST" action="/notes/<%= notes._id %>?_method=DELETE">
                                <a href="/edit/<%=notes._id%>">Edit</a>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
                    <a class="uploadButton" href="/upload">Upload Notes</a>
        </div>

    </body>